<%= simple_form_for(@book, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :name, required: true, placeholder: "Book Name", label: false, input_html: {class: "form-control"} %>
    <%= f.input :author, required: true, placeholder: "Author's Name", label: false, input_html: {class: "form-control"} %>
    <%= f.input :description, required: true, placeholder: "Book Description", label: false, input_html: {class: "form-control", rows: 5 } %>
    <%= f.input :price, required: true, placeholder: "Price", label: false, input_html: {class: "form-control"}  %>
    <%= f.input :image %>
    <%= f.input :resource %>
    <div class="text-center">
    <p>Availablity</p>
    <%= f.input :availability, required: false, class: "check-box",label: false  %>
    </div>
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
  
<% end %>
